<div>
    <table>
        <thead>
            <th>Question</th>
            <th>Answer</th>
            <th>Options</th>
        </thead>
        <tbody>
            <tr *ngFor="let flashcard of flashcards">
                <td>{{flashcard.question}}</td>
                <td>{{flashcard.answer}}</td>
                <td>
                    <button class="tableeditbutton" mat-raised-button (click)="onEdit(flashcard)">Edit</button>
                    <button class="tabledeletebutton" mat-raised-button (click)="onDelete(flashcard)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>